<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Marc-Antoine Ruel - Développeur web Full Stack" %></title>
    <meta name="description" content="<%= current_page.data.description || 'Marc-Antoine Ruel est un développeur web full stack indépendant qui fait des sites web et des applications. Interface, logique d\’entreprise, serveurs, wordpress, café, il gère tout ça.' %>">

    <!-- Open Graph -->
    <!-- TODO: Add facebook app_id for the web site -->
    <!-- <meta property="fb:app_id" content="1234567890" />  -->
    <meta property="og:title" content="<%= current_page.data.ogtitle || current_page.data.title || "Marc-Antoine Ruel - Développeur web Full Stack" %>" />
    <!-- TODO: Add open graph picture -->
    <!-- <meta property="og:image" content="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xap1/t39.2178-6/851565_496755187057665_544240989_n.jpg" />  -->
    <!-- TODO: Create content description -->
    <!-- <meta property="og:description" content="" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fr_CA" />
    <!-- <meta property="og:locale:alternate" content="en_CA" /> -->
    <meta property="og:url" content="https://www.marcantoineruel.com/" />

    <!-- Twitter Card -->

    <link href="https://fonts.googleapis.com/css?family=Catamaran:600,800|Roboto+Mono:400,400i" rel="stylesheet">
    <%= stylesheet_link_tag "global" %>
    <%= stylesheet_link_tag "components/background" %>
  </head>
  <body>
    <a href="#main" class="visually-hidden">Sauter au contenu principal</a>

    <!-- Site Header -->
    <%= partial "header" %>

    <%= stylesheet_link_tag "components/site-main" %>
    <main id="main" class="site-main" role="main" tabindex="-1">

      <%= yield %>

    </main>

    <%= partial "footer" %>
    <canvas id="space" class="background"></canvas>
    <%= javascript_include_tag "components/background" %>
    <%= javascript_include_tag "components/siteNavigation" %>
    <%= javascript_include_tag "components/burgerMenu" %>
    <%= javascript_include_tag "components/siteMain" %>
    <%= javascript_include_tag "components/siteTitle" %>
    <%= javascript_include_tag "events/resize" %>
    <%= javascript_include_tag "main" %>

  </body>
</html>
