<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Marc-Antoine Ruel - Développeur web Full Stack" %></title>
    <meta name="description" content="<%= current_page.data.description || 'Marc-Antoine Ruel est un développeur web full stack indépendant qui fait des sites web et des applications. Interface, logique d\’entreprise, serveurs, wordpress, café, il gère tout ça.' %>">

    <link href="https://fonts.googleapis.com/css?family=Catamaran:600,800|Roboto+Mono:400,400i" rel="stylesheet">
    <%= stylesheet_link_tag "global" %>
    <%= stylesheet_link_tag "components/background" %>
  </head>
  <body>
    <a href="#main" class="visually-hidden">Sauter au contenu principal</a>

    <!-- Site Header -->
    <%= partial "header" %>

    <%= stylesheet_link_tag "components/site-main" %>
    <main id="main" class="site-main" role="main">

      <%= yield %>

    </main>

    <%= partial "footer" %>
    <canvas id="space" class="background"></canvas>
    <%= javascript_include_tag "components/background" %>
    <%= javascript_include_tag "components/siteTitle" %>
    <%= javascript_include_tag "events/resize" %>

  </body>
</html>
